.logo_notion {
    height: 200px; /* Set a larger fixed height for consistency */
    max-width: 250px; /* Allow logos to be wider */
    object-fit: contain; /* Maintain aspect ratio without distortion */
    margin-right: 7px;
  }
  .transparent-image {
    background: none !important; /* ลบพื้นหลังดำ */
    mix-blend-mode: multiply; /* ช่วยให้สีโปร่งใส */
    filter: brightness(100%) contrast(100%);
    display: block;
    max-width: 100%;
    height: auto;
}
 
  /* Media Query for Larger Screens */
  @media (min-width: 768px) {
    .logo_notion {
      height: 200px; /* Larger size for tablets/desktops */
      max-width: 250px;
      margin-right: 6px;
    }
  }
  
 